.features__title {
  margin: 0 0 80px 0;
  max-width: 464px;
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}

@media screen and (max-width: 630px) {
  .features__title {
    font-size: 27px;
  }
}

@media screen and (max-width: 425px) {
  .features__title {
    margin-bottom: 59px;
    max-width: 267px;
    font-size: 19px;
    line-height: 22px;
  }
}
