.portfolio__description {
  margin: 0;
  padding-top: 172px;
  padding-left: 30px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  width: 170px;
}

@media screen and (max-width: 410px) {
  .portfolio__description {
    padding-top: 150px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__description {
    padding-top: 150px;
    padding-bottom: 22px;
    font-size: 16px;
    line-height: 19px;
  }
}
