.header {
  margin: 0 auto;
  padding-top: 41px;
  padding-left: 13.125%;
  padding-right: 13.125%;
  background-color: #1b2944;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 39px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 35px;
    padding-left: 28px;
    padding-right: 25px;
  }
}
