.portfolio__columns {
  display: grid;
  grid-template-columns: repeat(3, 304px);
  grid-template-rows: 304px;
  column-gap: 16px;
  margin-top: 54px;

}

@media screen and (max-width: 1279px) {
  .portfolio__columns {
    grid-template-columns: repeat(2, 304px);
    grid-template-rows: repeat(2, 304px);
    row-gap: 16px;
    justify-content: center;
  }
}

@media screen and (max-width: 846px) {
  .portfolio__columns {
    grid-template-columns: 304px;
    grid-template-rows: repeat(3, 304px);
  }
}

@media screen and (max-width: 410px) {
  .portfolio__columns {
    grid-template-columns: 267px;
    grid-template-rows: repeat(3, 267px);
  }
}
