.portfolio__subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

@media screen and (max-width: 1279px) {
  .portfolio__subtitle {
    margin: 0 auto;
    width: 624px;
  }
}

@media screen and (max-width: 846px) {
  .portfolio__subtitle {
    margin: 0 auto;
    width: 304px;
  }
}

@media screen and (max-width: 410px) {
  .portfolio__subtitle {
    margin: 0 auto;
    width: 267px;
  }
}
