.contacts__wrap-phon-email {
  width: 91.146%;
  min-height: 76px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

@media screen and (max-width: 544px) {
  .contacts__wrap-phon-email {
    display: block;
    width: 126px;
  }
}
